/Condicionales_ejercicio_2/nbproject/private/
/Condicionales_ejercicio1_2/nbproject/private/
/Operadores_calificación/nbproject/private/
/Operadores_calcular_semanas/nbproject/private/
/Condicionales_ejercicio1/nbproject/private/
/Condicionales_ejercicio_2/build/
/Condicionales_ejercicio2_2/nbproject/private/
/Condicionales_ejercicio2_2/build/
/Condicionales_ejercicio2_2/dist/
