/Operadores_calificación/nbproject/private/
/Operadores_calificación/build/
/Operadores_calcular_semanas/nbproject/private/
/Operadores_calcular_semanas/build/
/Operadores_calcular_semanas/dist/
/Condicionales_ejercicio1/nbproject/private/
/Condicionales_ejercicio1/build/
/Condicionales_ejercicio1/dist/
